<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <title>Bluetech Consulting</title>
</head>
<body>
  <h2>Hi,</h2>
  <p>This email serves as confirmation of the payment received from you on {{date}} for a consulting engagement.</p>
  <p>Booking Details:</p>
  <ul>
    <li>Date: {{eventDate}}</li>
    <li>Start Time: {{startTime}}</li>
    <li>End Time: {{endTime}}</li>
    <li>Duration: {{duration}}</li>
    <li>Purpose of booking: -</li>
  </ul>
  <p>If you require any further information or assistance, please feel free to reach out to us at info@bluetechconsulting.uk
Thank you for considering Bluetech. We value your interest and look forward to the possibility of further discussing your needs and how we might assist you. 
On behalf of Bluetech
</p>
</body>
</html>