<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <title>CONTACT -- Pending Message</title>
</head>
<body>
  <h2>You have a pending message from {{firstName}}</h2>
  <div>
    <p style="font-weight: 700;">NAME:</p>
    <p>{{firstName}} {{lastName}}</p>
  </div>
  <div>
    <p style="font-weight: 700;">Phone:</p>
    <p>{{phone}}</p>
  </div>
  <div>
    <p style="font-weight: 700;">Email:</p>
    <p>{{email}}</p>
  </div>
  <div>
    <p style="font-weight: 700;">Subject:</p>
    <p>{{subject}}</p>
  </div>
  <div>
    <p style="font-weight: 700;">Message:</p>
    <p>{{comment}}</p>
  </div>
</body>
</html>